<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Page</title>
    <link href="../project/project.css" rel="stylesheet">
</head>
<body>
   <h1 style="text-align: center; font-size: 60px";>Thank you for commiting to us we hope you use our sevivce to<span style="color: #4ADF86;"> Your satisfaction</span></h1> 
</body>
</html>